body{
    background-color: #B5EEFC;
    width: 1500px;
}
h2 {
    font-size: 30px;
}
.title h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    text-align: center;
    color: #2b2b2b;
}
.right-buttons{
    position: relative;
}
.new-game, .source-code{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 7em;
    height: 3em;
    font-size: 38px;
    background-color: transparent;
    border-color: #002851;
    border-width: 3px;
    color: #2b2b2b;
}
.new-game{
    transform: translate(1190px, -400px);
}
.source-code{
    transform: translate(919px, -200px);
}
.left-box, .mid-box, .right-box{
    position: relative;
}
.left-box h2{
    position: absolute;
    transform: translate(450px, -550px);
    font-size: 38pt;
}
.left-icons{
    transform: translate(50%, 20%);
    width: 110px;
}
.left-icons li{
    list-style-type: none;
}
.left-line hr, .mid-line hr, .right-line hr{
    background-color: #002851;
}
.left-line hr{
    position: absolute;
    transform: translate(300px, -480px);
}
.mid-line hr{
    position: absolute;
    transform: translate(700px, -400px);
}
.right-line hr{
    position: absolute;
    transform: translate(1100px, -480px);
}
.right-box h2{
    position: absolute;
    transform: translate(850px, -550px);
    font-size: 38pt;
}
.fa-hand-rock, .fa-hand-paper, .fa-hand-scissors{
    color: #002851;
    font-size: 5em;
    border-style: solid;
    border-radius: 20%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.fa-hand-rock:hover, .fa-hand-paper:hover, .fa-hand-scissors:hover{
    background-color: #DBFCFF;
    transform: scale(1.25);
}
.right-buttons button:hover{
    background-color: #DBFCFF;
}
